.post-it {
	margin: 2%;
	padding: 2%;
	box-shadow: 2px 4px 6px #444;
	-moz-box-shadow: 2px 4px 6px #444;
	-webkit-box-shadow: 2px 4px 6px #444;
	border-bottom-right-radius: 60px 10px;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 300px;
	width: 300px;
}

.post-it button, .createPostItForm button {
	background-color: #264653;
	border: none;
	color: #FFF;
	border-radius: 16px 4px;
	padding: 8px;
	transition: 0.3s;
}

.post-it button:hover, .createPostItForm button:hover {
	background-color: #E9C46A;
	color: #264653;
}

.postItsContainer {
	max-height: 80vh;
	overflow-y: scroll;
	flex-wrap: wrap;
	justify-content: space-around;
	overflow: visible;
}

.addPostItButton {
	border:none;
	border-radius: 50%;
	height: 45px;
	width: 45px;
	font-size: 20px;
	color:#fff;
	background-color: #264653;
}