header {
	height: 100px;
}

header h1 {
	color: #264653;
	font-weight: 300;
}

header p {
	font-weight: 300;
	color: #264653;
}

header .avatarContainer {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	overflow: hidden;
}

header .avatarContainer img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}